<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello Lion!</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <h1 style="color:orange;">Hello Lion!</h1>
    <span class="badge badge-primary">MJU(Seoul)</span>
    <span class="badge badge-success">Django</span>
    <p>안녕하세요. 명지대학교(서울) 멋쟁이사자처럼 Django 첫 프로젝트입니다:)</p>
    <div class="jumbotron">
      <h1>Django에 대하여 배워봅시다!</h1>
      <p>Django는 Python으로 작성된 오픈 소스 웹 애플리케이션 프레임워크로, 모델-뷰-컨트롤러(MTV) 패턴을 따르고 있습니다. 멋쟁이 사자처럼에서는 2019년부터 Django를 이용하여 웹 서비스를 제작할 수 있도록 교육하고 있습니다.</p>
      <p class="text-center"><a class="btn btn-primary btn-lg" href="https://class.likelion.org/" role="button">ClassLion으로 이동</a></p>
    </div>
  </div>
</body>
</html>
